@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

html,
main {
//   margin: 0 auto;
//   /*padding: 20px;*/
//   text-align: center;
}

.header{
    min-height: 50px;
    background-color: #01497C;
    width: 100%;
}

.footer{
    //width: 100%;
}

.login-form{
    width: 400px;
}


.scale :hover{
    transition: .2s;
    transform: scale(1.01);
}

.noscale :hover{
    transform: scale(1.00);
}

.search-form {
    max-width: 800px;
}